html {
  height: 100%;
  box-shadow:
    inset 20px 10px 0 black,
    inset -20px -10px 0 black;
}

.artist,
.title,
.mediaCondition,
.coverCondition,
.format,
.price,
.label,
.phone,
select {
  display: block;
  width: 60%;
  margin: 10px auto;
  padding: 3px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-align-last: center;
  letter-spacing: 3px;
}

.name {
  position: relative;
  display: block;
  left: -81px;
  top: 56px;
  width: 30%;
  margin: 0 auto;
  padding: 3px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

input[type='file'] {
  display: block;
  width: 60%;
  margin: 10px auto;
  padding: 3px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  letter-spacing: 3px;
}

.col-1-3 img {
  width: auto;
  height: 100%;
  left: 50%;
  box-sizing: border-box;
  position: relative;
  opacity: 0.8;
  -webkit-mask-image: -webkit-gradient(linear, left 60%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  transform: translate(-50%, 0);
}

.col-1-3 ul,
.col-1-3 li {
  position: relative;
  bottom: 140px;
  left: 10px;
  margin-bottom: 5px;
  font-family: 'Nova Flat', cursive;
  letter-spacing: 4px;
  text-align: left;
  font-size: 16px;
  list-style: none;
  animation: fadein 0.2s ease-in;
  vertical-align: bottom;
}

.col-2-2 li {
  position: relative;
  top: 50px;
  left: 50px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 6px;
  text-align: left;
  font-size: 16px;
  list-style: none;
  animation: fadein 0.2s ease-in;
  white-space: pre-line;
  word-wrap: break-word;
}

.col-2-3 img {
  width: auto;
  height: 610px;
  top: 25px;
  box-sizing: border-box;
  position: relative;
  opacity: 1;
  animation: fadein 0.2s ease-in;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.hidden {
  display: none;
}

h3,
h4 {
  box-sizing: content-box;
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  font-family: 'Nova Flat', cursive;
  letter-spacing: 4px;
  text-align: left;
  font-size: 14px;
}

textarea {
  padding: 10px;
  margin-top: 12px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

.blackbox {
  background-color: black;
  position: absolute;
  height: 51px;
  width: 54px;
  left: 19px;
  top: 8px;
  z-index: -1;
}

button {
  box-sizing: border-box;
  position: absolute;
  background-color: #dfe4e4;
  border-left: 3px solid;
  border-right: 2px solid;
  border-top: 3px solid;
  border-bottom: 2px solid;
  left: 18px;
  height: 51px;
  width: 55px;
  box-shadow: inset -7px -7px 8px -7px rgba(0, 0, 0, 0.7);
}

button:active {
  border-top: 6px solid;
  border-left: 6px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  outline: none;
}

button:focus {
  outline: none;
}

.goback {
  box-sizing: border-box;
  position: fixed;
  background-color: #dfe4e4;
  border-left: 3px solid;
  border-right: 2px solid;
  border-top: 3px solid;
  border-bottom: 2px solid;
  left: 1230px;
  bottom: 60px;
  height: 41px;
  width: 45px;
  opacity: 0.7;
  box-shadow: inset -7px -7px 8px -7px rgba(0, 0, 0, 0.7);
  animation: fadein 0.4s ease-in;
  z-index: 1;
  font-family: 'Nova Flat', cursive;
}

.goback:active {
  border-top: 4px solid;
  border-left: 4px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  box-shadow: inset -7px -7px 11px -7px rgba(0, 0, 0, 0.9);
  outline: none;
}

#sell {
  font: inherit;
  line-height: 1;
  font-family: 'Nova Flat', cursive;
  letter-spacing: 4px;
  text-align: left;
  font-size: 14px;
}

#buy {
  font: inherit;
  line-height: 1;
  font-family: 'Nova Flat', cursive;
  letter-spacing: 5.5px;
  text-align: left;
  font-size: 14px;
}

#r {
  font-family: 'Nova Flat', cursive;
  font-size: 110px;
  left: -3px;
  bottom: 500px;
  display: block;
  position: fixed;
  z-index: -1;
}

#s {
  font-family: 'Nova Flat', cursive;
  font-size: 80px;
  left: 42px;
  bottom: 451px;
  display: block;
  position: fixed;
  z-index: -1;
}

#o {
  font-family: 'Nova Flat', cursive;
  font-size: 120px;
  left: -11px;
  bottom: 382px;
  display: block;
  position: fixed;
  z-index: -1;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  float: none;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 25px;
  width: 80%;
  height: 90.2%;
  border: 10px solid transparent;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  background-color: rgba(209, 209, 209, 0.2);
  box-shadow:
    0 15px 5px rgba(0, 0, 0, 0.15),
    10px 20px 5px rgba(0, 0, 0, 0.05),
    -10px 20px 5px rgba(0, 0, 0, 0.05);
  animation: fadein 0.4s ease-in;
  z-index: -1;
}

form {
  animation: fadein 0.2s ease-in;
}

.list {
  left: 0;
  right: 0;
  float: none;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: 700px;
  animation: fadein 0.2s ease-in;
}

.col-1-3 {
  width: 24.78%;
  height: 95.8%;
  overflow: hidden;
  margin-left: 2px;
  float: left;
  display: inline;
}

.col-1-2 {
  width: 49%;
  height: 100%;
  overflow: hidden;
  margin-left: 2px;
  float: left;
  display: inline;
}

.col-2-2 {
  width: 35%;
  height: 100%;
  margin-left: 2px;
  float: left;
  display: inline;
}

.col-2-3 {
  width: 56%;
  height: 100%;
  margin-left: 2px;
  float: left;
  display: inline;
}

.row {
  top: 20px;
  box-sizing: content-box;
  margin: 0 auto;
  width: 70%;
  padding: 18px;
  font-family: 'Nova Flat', cursive;
  letter-spacing: 4px;
  text-align: center;
  font-size: 14px;
}

.submit {
  box-sizing: content-box;
  display: block;
  width: 15%;
  margin: 10px auto;
  padding: 7px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
}

.send {
  position: relative;
  box-sizing: content-box;
  display: block;
  width: 15%;
  margin: 10px auto;
  top: 75px;
  left: 20px;
  padding: 7px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  animation: fadein 0.2s ease-in;
}

.buyerMessage {
  position: relative;
  padding: 5px;
  top: 60px;
  left: 50px;
  animation: fadein 0.2s ease-in;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close::before,
.close::after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}
